<h1 class="headedit">PrioriTeams</h1>
<a href="/signout" class="signoutbutton" aria-pressed="true">Sign out</a>
<nav id="nav-1">
    <a class="link-1" href="/main">Home</a>
    <a class="link-1" href="/register">Register</a>
    <a class="link-1" href="/events">View Events</a>
</nav>
{{#partial "content"}}
    <h1>All Events</h1>

    <ul style="font-size: 12px">
        {{#each eventList}}
            <li> {{ eventName }} at {{ location }} for {{ duration }} minutes with an optimal meeting time at {{ optimalTime }} on {{ optDayString }} </li>
        {{/each}}
    </ul>

    <form action="/events" method="post">
        <input type="text" placeholder="Enter Event ID" name="eId">
        <button>Calculate Optimal Time for this Event</button>
    </form>

    <br>
{{/partial}}

{{> base.hbs }}