<h1 class="headedit">PrioriTeams</h1>
<a href="/signout" class="signoutbutton" aria-pressed="true">Sign out</a>
<nav id="nav-1">
    <a class="link-1" href="/main">Home</a>
    {{#if priority}}
        <a class="link-1" href="/create">Create Event</a>
        <a class="link-1" href="/adjustPriorities">Adjust Priorities</a>
    {{/if}}
    <a class="link-1" href="/events/{{personid}}">View Events</a>
</nav>
{{#partial "content"}}

        <ul class="list-group list-group-flush">
            {{#each eventList}}
                <li>
                    <div class="card mx-auto text-white bg-secondary mb-3 border-dark" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Event {{ id }}</strong></h5>
                            <h6 class="card-subtitle">{{ eventName }}</h6>
                        <ul>
                            <li>
                                <strong>Location: {{ location }}</strong>
                            </li>
                            <li style="border: none">
                                <strong>Meeting time: {{ optTimeString }}</strong>
                            </li>
                            <li>
                                <strong>Meeting day: {{ optDayString }}</strong>
                            </li>
                            <li>
                                <strong>Duration: {{ durationString }} </strong>
                            </li>
                        </ul>
                            <a href="/register/{{ id }}" style="color: #3fa369">Link to register</a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>

    <br>
{{/partial}}

{{> base.hbs }}