
<h1 class="headedit">PrioriTeams</h1>
<nav id="nav-1">
    <a class="link-1" href="/main">Home</a>
    <a class="link-1" href="/register">Register</a>
    <a class="link-1" href="/events">View Events</a>
</nav>
{{#partial "content"}}
    <h1>Register for
        {{eventList.eventName}}
    </h1>
    <li> at {{eventList.location}} for {{eventList.duration}} minutes </li>
    <br>

    <form action="/register/{{eventList.id}}/addnewavail" method="post">
        <br>
        <table align="center">
            <tr>
                <th>Availability</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            <tr>
                <th>8 am - 9 am</th>
                <td>
        <input type="checkbox" id="8am1" name="8am1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="8am2" name="8am2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="8am3" name="8am3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="8am4" name="8am4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="8am5" name="8am5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="8am6" name="8am6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="8am7" name="8am7" value =1>
                </td>
            </tr>


            <tr>
                <th>9 am - 10 am</th>
                <td>
                    <input type="checkbox" id="9am1" name="9am1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="9am2" name="9am2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="9am3" name="9am3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="9am4" name="9am4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="9am5" name="9am5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="9am6" name="9am6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="9am7" name="9am7" value =1>
                </td>
            </tr>





            <tr>
                <th>10 am - 11 am</th>
                <td>
                    <input type="checkbox" id="10am1" name="10am1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="10am2" name="10am2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="10am3" name="10am3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="10am4" name="10am4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="10am5" name="10am5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="10am6" name="10am6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="10am7" name="10am7" value =1>
                </td>
            </tr>



            <tr>
                <th>11 am - 12 pm</th>
                <td>
                    <input type="checkbox" id="11am1" name="11am1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="11am2" name="11am2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="11am3" name="11am3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="11am4" name="11am4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="11am5" name="11am5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="11am6" name="11am6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="11am7" name="11am7" value =1>
                </td>
            </tr>



            <tr>
                <th>12 pm - 1 pm</th>
                <td>
                    <input type="checkbox" id="12pm1" name="12pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="12pm2" name="12pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="12pm3" name="12pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="12pm4" name="12pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="12pm5" name="12pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="12pm6" name="12pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="12pm7" name="12pm7" value =1>
                </td>
            </tr>









            <tr>
                <th>1 pm - 2 pm</th>
                <td>
                    <input type="checkbox" id="1pm1" name="1pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="1pm2" name="1pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="1pm3" name="1pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="1pm4" name="1pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="1pm5" name="1pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="1pm6" name="1pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="1pm7" name="1pm7" value =1>
                </td>
            </tr>





            <tr>
                <th>2 pm - 3 pm</th>
                <td>
                    <input type="checkbox" id="2pm1" name="2pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="2pm2" name="2pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="2pm3" name="2pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="2pm4" name="2pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="2pm5" name="2pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="2pm6" name="2pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="2pm7" name="2pm7" value =1>
                </td>
            </tr>




            <tr>
                <th>3 pm - 4 pm</th>
                <td>
                    <input type="checkbox" id="3pm1" name="3pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="3pm2" name="3pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="3pm3" name="3pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="3pm4" name="3pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="3pm5" name="3pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="3pm6" name="3pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="3pm7" name="3pm7" value =1>
                </td>
            </tr>




            <tr>
                <th>4 pm - 5 pm</th>
                <td>
                    <input type="checkbox" id="4pm1" name="4pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="4pm2" name="4pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="4pm3" name="4pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="4pm4" name="4pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="4pm5" name="4pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="4pm6" name="4pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="4pm7" name="4pm7" value =1>
                </td>
            </tr>




            <tr>
                <th>5 pm - 6 pm</th>
                <td>
                    <input type="checkbox" id="5pm1" name="5pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="5pm2" name="5pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="5pm3" name="5pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="5pm4" name="5pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="5pm5" name="5pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="5pm6" name="5pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="5pm7" name="5pm7" value =1>
                </td>
            </tr>




            <tr>
                <th>6 pm - 7 pm</th>
                <td>
                    <input type="checkbox" id="6pm1" name="6pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="6pm2" name="6pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="6pm3" name="6pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="6pm4" name="6pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="6pm5" name="6pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="6pm6" name="6pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="6pm7" name="6pm7" value =1>
                </td>
            </tr>




            <tr>
                <th>7 pm - 8 pm</th>
                <td>
                    <input type="checkbox" id="7pm1" name="7pm1" value =1>
                </td>

                <td>
                    <input type="checkbox" id="7pm2" name="7pm2" value =1>
                </td>

                <td>
                    <input type="checkbox" id="7pm3" name="7pm3" value =1>
                </td>

                <td>
                    <input type="checkbox" id="7pm4" name="7pm4" value =1>
                </td>

                <td>
                    <input type="checkbox" id="7pm5" name="7pm5" value =1>
                </td>
                <td>
                    <input type="checkbox" id="7pm6" name="7pm6" value =1>
                </td>

                <td>
                    <input type="checkbox" id="7pm7" name="7pm7" value =1>
                </td>
            </tr>

        </table>
        <br>

        <br>
        <button>Submit</button>
    </form>

    <h3 style='margin:50px 0 30px'>Previously Entered Availabilities</h3>


    <ul style='margin:0 0 50px'>
        {{#each AvailList}}
            <li>  Person {{ personId }} can attend from {{ startTime }} to {{ endTime }} on day {{ dow }}  of the week.  </li>
        {{/each}}
    </ul>
{{/partial}}
{{> base.hbs }}