<h1 class="headedit">PrioriTeams</h1>
<a href="/signout" class="signoutbutton" aria-pressed="true">Sign out</a>
<nav id="nav-1">
    <a class="link-1" href="/main">Home</a>
    {{#if priority}}
        <a class="link-1" href="/create">Create Event</a>
    {{/if}}
    <a class="link-1" href="/register">Register</a>
    <a class="link-1" href="/events">View Events</a>
</nav>
{{#partial "content"}}
    <h1>Your Events</h1>
    <ul style="font-size: 18px">
        {{#each eventList}}
            <li> {{ id }}. {{ eventName }} at {{location}} for {{duration}} minutes  </li>
        {{/each}}
    </ul>

    <!--
    <h3 style='margin:50px 0 30px'>Previously Entered Availabilities</h3>


    <ul style='margin:0 0 50px'>
        {{#each AvailList}}
            <li>  Person {{ personId }} can attend Event {{ eventId }} from {{ startTime }} to {{ endTime }} on day {{ dow }}  of the week.  </li>
        {{/each}}
    </ul>
    !-->
    <br>
    <h2>Select the Event to Register</h2>
    <br>
    <form action="/specificevent" method="post">

        <p> <a> Select Event </a> <select id="eId" name ="eId">
            <option disabled selected value></option>
                {{#each eventList}}
                    <option value = {{id}}> {{ eventName }} </option>
                {{/each}}
        </select>
        </p>
        <br>
        <button>Submit</button>
    </form>
    <br>
{{/partial}}
{{> base.hbs }}