{{#partial "content"}}
    <h1>Register for Event</h1>
    <ul>
    {{#each eventList}}
        <li><a href="register/{{id}}"> {{ eventName }} at {{location}} for {{duration}} minutes>  </a></li>
    {{/each}}
    </ul>

    <h3 style='margin:50px 0 30px'>Previously Entered Availabilities</h3>

<ul style='margin:0 0 50px'>
    {{#each AvailList}}
        <li>  Person {{ personId }} can attend Event {{ eventId }} from {{ startTime }} to {{ endTime }} on day {{ dow }}  of the week.  </li>
    {{/each}}
</ul>


<br>
    <p><a href="/events">View Events</a></p>
    <p><a href="/register"> Register for an Event</a></p>
    <p><a href="/">Home</a></p>
{{/partial}}
{{> base.hbs }}