{{#partial "content"}}
    <h1>Register for Event</h1>
    <ul>
    {{#each eventList}}
        <li> {{ eventName }} at {{location}} for {{duration}} minutes  </li>
    {{/each}}
    </ul>

    <h3>Previously Entered Availabilities</h3>

<ul>
    {{#each AvailList}}
        <li>  Person {{ personId }} can attend Event {{ eventId }} from {{ startTime }} to {{ endTime }} on day {{ dow }}  of the week.  </li>
    {{/each}}
</ul>


<form action="/register" method="post">
    <p> Enter Your ID Number <input type="number" placeholder="Your ID Number " name="pId"> </p>
    <p> Enter Event ID Number <input type="number" placeholder="Event ID Number" name="eId"> </p>

   <p> <a> Select available day</a> <select id="dow" name ="dow">
        <option value=1>Monday</option>
        <option value=2>Tuesday</option>
        <option value=3>Wednesday</option>
        <option value=4>Thursday</option>
        <option value=5>Friday</option>
        <option value=6>Saturday</option>
        <option value=7>Sunday</option>
    </select>
   </p>
    <p> Enter start time of availability <input type="number" placeholder="Start Time" name="st"> </p>
    <p> Enter end time of availability <input type="number" placeholder="End Time" name="et"> </p>
    <button>Submit</button>
</form>

    <p><a href="/events">View Events</a></p>
    <p><a href="/register"> Register for an Event</a></p>
    <p><a href="/">Home</a></p>
{{/partial}}
{{> base.hbs }}