{{#partial "content"}}
    <h1>Register for Event</h1>
    <ul>
        {{#each eventList}}
            <li> {{ eventName }} at {{location}} for {{duration}} minutes  </li>
        {{/each}}
    </ul>

    <h3 style='margin:50px 0 30px'>Previously Entered Availabilities</h3>

    <ul style='margin:0 0 50px'>
        {{#each AvailList}}
            <li>  Person {{ personId }} can attend Event {{ eventId }} from {{ startTime }} to {{ endTime }} on day {{ dow }}  of the week.  </li>
        {{/each}}
    </ul>

    <form action="/register" method="post">
    <br />
    <p> Person Id <input type="number" placeholder="Person Id" name="pId"> </p>
    <p> Event Id <input type="number" placeholder="Event Id" name="eId"> </p>
    <p> Start Time <input type="number" placeholder="Start Time" name="st"> </p>
    <p> End Time <input type="number" placeholder="End Time" name="et"> </p>
    <p> Day of the Week <input type="number" placeholder="Day of the Week" name="dow"></p>
    <br />
    <button>Submit Availability</button>
    </form>




{{/partial}}
{{> base.hbs }}